h2 My first post
p --insert awesome content here--

pre
  code.language-ruby # Example -- Syntax Highlighting
    class Dog
      def initialize(args)
        @name = args[:name]
        @age  = args[:age]
      end
    end